@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "h h"
    "s m";
  grid-template-rows: 1fr 15fr;
  grid-template-columns: 1fr 8fr;
}

.header {
  background-color: #303030;
  color: rgb(255, 255, 255);
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.header > div {
  display: flex;
  gap: 16px;
  padding: 8px;
}

.sidebar {
  background-color: #c9c9c9;
  grid-area: s;
  padding: 32px 16px;
  font-size: 18px;
  min-width: 200px;
  width: 13vw;
}

.sidebar button {
  padding: 4px 8px;
  border: none;
  background: none;
  font-size: 16px;
  text-align: left;
}

.sidebar button:hover {
  cursor: pointer;
  background-color: rgb(129, 129, 129);
}

.projects {
  margin: 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.projects p {
  margin-bottom: 8px;
}

.main-container {
  background-color: rgb(236, 236, 236);
  grid-area: m;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container h2 {
  margin-bottom: 16px;
}

.main-container div {
  margin-left: 8px;
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.todo-item {
  background-color: #e5d3ed;
  width: 250px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  /* transition: all 0.2s ease-in-out; */
}

.todo-item:hover {
  /* transform: scale(1.03); */
}

.todo-name {
  margin-bottom: 8px;
}

.todo-name:focus,
.todo-desc:focus,
.due-date:focus {
  outline: none;
}

.todo-desc {
  padding: 8px;
}

.todo-item > small {
  display: flex;
  align-self: flex-end;
}

.todo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  width: 20px;
  padding: 5px;
  cursor: pointer;
}
.delete-icon:hover {
  background: #b9b9b9;
  
  border-radius: 50%;
}

.due-date {
  background-color: #e5d3ed;
  border: none;
  width: 100px;
}

.due-date:hover {
  outline: 1px solid black;
}

.add-todo-btn {
  margin-bottom: 16px;
  padding: 8px 32px;
}
