@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "h h"
    "s m";
  grid-template-rows: 1fr 15fr;
  grid-template-columns: 1fr 8fr;
}

.header {
  background-color: #303030;
  color: rgb(255, 255, 255);
  grid-area: h;
  padding: 16px;
}

.header > div {
  display: flex;
  gap: 16px;
  padding: 8px;
}

.sidebar {
  background-color: #c9c9c9;
  grid-area: s;
  padding: 32px 16px;
  font-size: 18px;
  min-width: 200px;
  width: 16vw;
}

.project-container {
  margin: 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-container p {
  margin-bottom: 8px;
}

.project-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  padding: 4px 8px;
  font-size: 16px;
  height: 35px;
  border-radius: 5px;
}

.project-button:hover {
  cursor: pointer;
  font-size: 17px;
}

.project-button img {
  opacity: 50%;
  width: 20px;
}

.project-button img:hover {
  width: 22px;
}

.add-project-button {
  outline: 1px solid black;
  border-radius: 5px;
  padding: 4px 32px;
  font-size: 16px;
  border: none;
  background: none;
}

.add-project-button:hover {
  cursor: pointer;
  background-color: rgb(176, 176, 176);
}

.main-container {
  background-color: rgb(236, 236, 236);
  grid-area: m;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container h2 {
  margin-bottom: 16px;
}

.main-container div {
  margin-left: 8px;
}

.add-todo-button {
  margin: 16px;
  padding: 4px 32px;
  border: none;
  background: none;
  font-size: 16px;
  outline: 1px solid black;
  border-radius: 5px;
}
.add-todo-button:hover {
  cursor: pointer;
  background-color: rgb(176, 176, 176);
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.todo-item {
  background-color: #e5d3ed;
  width: 65vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  flex-wrap: wrap;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  border-radius: 5px;
}

.todo-name:focus,
.due-date:focus {
  outline: none;
}

.todo-left {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2rem auto;
}

.todo-checkbox {
  appearance: none;
  margin: 0;
  font: inherit;
  width: 1.6rem;
  height: 1.6rem;
  border: 0.15rem solid rgb(126, 126, 126);
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

.todo-checkbox::before {
  content: "";
  width: 1rem;
  height: 1rem;
  transform: scale(0);
  box-shadow: inset 1rem 1rem rgb(131, 0, 146);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

}
.todo-checkbox:hover::before {
  transform: scale(1);
}

.todo-right {
  width: 9vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  width: 20px;
  padding: 4px;
  cursor: pointer;
}

.delete-icon:hover {
  width: 22px;
}

.due-date {
  background-color: #e5d3ed;
  border: none;
  width: 100px;
}

.due-date:hover {
  outline: 1px solid black;
}

.add-todo-btn {
  margin-bottom: 16px;
  padding: 8px 32px;
}
